.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header__button {
    width: 260px;
    background-color: #4caf50;
    color: #fff;
    font-size: 20px;
    border: none;
}
