#root {
    height: 100vh;
    color: '#000';
}

.app {
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.app h1 {
    margin-top: 0;
}

.app__header {
    margin-bottom: 30px;
}

.app__body {
    text-align: center;
}

.stream-app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.stream-app-container__column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid;
}
